body{
    background-color: rgb(170, 170, 170);
}

.navbar{
    background-color: rgb(45, 47, 49);
    padding: 30px;
    color: white;
}

#titulo{
    color: white;
    font-size: 20px;
    padding: 20px;
    padding-left: 5px;
}

#linha-vertical {
    height: 70px;
    border-right: 1px solid white;
    margin-right: 10px;
    padding: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#logo{
    margin-right: 0px;
    padding-right: 0px;
}