body{
    background-color: rgb(170, 170, 170);
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar{
    background-color: rgb(45, 47, 49);
    padding: 20px;
    color: white;
}

#titulo{
    color: white;
    font-size: 25px;
    max-width: 200px;
}

#linha-vertical {
    height: 85px;
    border-right: 1px solid white;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#logo{
    margin-right: 0px;
    padding-top: 15px;
}

.nav-item{
    font-size: 20px;
}